<form [formGroup]="formGroup" (submit) = "submit()">
  <div>
    <input [appError]="formGroup.get('login')?.hasError('email') ?? false" formControlName="login" type="email"/>
  </div>
  <div>
    <input formControlName="password" type="password"/>
    <div *ngIf="formGroup.get('password')?.hasError('minlength')">
      {{ 'Ce champ doit contenir au moins 3 caractère' }}
    </div>
    <div *ngIf="formGroup.get('password')?.hasError('minlength')">
      {{ 'Ce champ doit contenir au moins 3 caractère' }}
    </div>
  </div>
  <button [disabled]="formGroup.invalid" type="submit">Valider</button>
</form>
